SECRET_KEY=django-insecure-key-for-dev
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# sqlite (por defecto) o postgresql
DB_ENGINE=sqlite

# PostgreSQL (solo si DB_ENGINE=postgresql)
DB_NAME=facturacion_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
